@charset "UTF-8";
body {
    font-family: Helvetica Neue,Arial,Hiragino Sans,Hiragino Kaku Gothic ProN,BIZ UDPGothic,Meiryo,sans-serif;
    font-size: 1.0rem;
}


pre {
    border: 1px solid #000000;
}